:root {
  --primary-color: #2c6e49;
  --secondary-color: #6dc0d5;
  --third-color: #b86a21;
}

* {
  top: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Rokkitt", serif;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px 12px;
  text-align: center;
}

td {
  font-family: "IBM Plex Mono", monospace;
  font-size: small;
}

th {
  background-color: var(--primary-color);
  color: white;
  text-transform: capitalize;
  font-weight: 400;
  font-size: large;
}

table {
  margin: 1rem;
  width: calc(100% - 2rem);
}

button {
  border: 0px solid;
  padding: 4px 18px;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.table-title {
  margin: 1rem;
  text-transform: capitalize;
}

.nav-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  color: white;
  padding: 12px 0px;
  margin-bottom: 8px;
  font-size: large;
}

.nav-items a {
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.nav-items a:hover {
  text-decoration: underline;
}

.backdrop {
  background-color: #3c3c3c96;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.confirmation-modal {
  background-color: white;
  padding: 24px;
  position: absolute;
  top: 20vh;
  left: 30%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15vh;
}

.confirm-btns {
  margin-top: 12px;
}

.confirm-btns button {
  margin-right: 12px;
}

.btn {
  font-size: large;
}

.delete {
  border: 1px solid var(--third-color);
  background-color: var(--third-color);
  color: white;
}

.cancel {
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.cancel:hover {
  background-color: #ebebeb;
}
